<div class="header">
  <div class="left-block">
    <div class="navigation">
      <div class="item">
        <img class="icon" src="assets/images/icons/logo.svg"/>
        <a routerLink="/">MafiaCuba</a>
      </div>
      <div class="item">
        <mat-icon>play_arrow</mat-icon>
        <a routerLink="/jouer">Jouer</a>
      </div>
      <div class="item">
        <mat-icon>account_circle</mat-icon>
        <a routerLink="/profil">Profil</a>
      </div>
    </div>
  </div>
  <div class="right-block">
    <div class="navigation">
      <div class="item">
        <a routerLink="/">MafiaCuba</a>
      </div>
    </div>
  </div>
</div>
