.full-container{
    background:  linear-gradient(135deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 50%), url('../../assets/images/background-home.jpg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.site-name{
    position: absolute;
    top:10%;

    p
    {
        font-size: 6em;
        font-weight: 300;
        opacity: .4;
        color: inherit;
        outline: none;
        text-decoration: none;
    }
}

.mid-container{
    position: relative;
	margin: auto;
	width: 50%;
	height:50vh;
    border-radius: 15px;
    display:flex;
    overflow: hidden;
}



.side {
    height: 100%;
}

.left
{
    background-image: url('../../assets/images/connexion/connexion-img.jpg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    width: 60%;
}
.right
{
    min-width: 250px;
    width: 40%;
    background: linear-gradient(90deg,#553C2A 0%, #2B1E16 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.connexionfield {
    width:70%;
    margin-left: auto;
    margin-right: auto;
}



button
{
    height:50px;
	width:70%;
	color:white;
	font-size: 0.8rem;
	border-radius: 10px;
	vertical-align: middle;
    background-size: 200% auto;
    background-image: linear-gradient(to right, rgb(150, 121, 99) 0%, #603813  51%, rgb(150, 121, 99)    100%) !important;
    transition: 0.5s;
    margin-top: 8px;
	.mat-icon
	{
		padding-bottom:5px;
	}
}
button:hover{
    background-position: right center; /* change the direction of the change here */
        color: #fff;
        text-decoration: none;
}

.back-btn {
    position: absolute;
    bottom: 15%;
    font-size: 4em;
    font-weight: 300;
    opacity: .4;
    color: inherit;
    outline: none;
    text-decoration: none;
    color:grey;
}



@media (max-width: 600px) {
    .mid-container{
        width:80%;
        height:80vh;
    }

    .site-name{
        top:3%;
        font-size: 0.5em;
    }
    .left{
        width:100%;
    }
    .mid-container{
        flex-direction: column;
    }
    .right{
        width:100%;
        min-width: 0px;
    }

    mat-icon
    {
        display: none;
    }

    .back-btn
    {
        bottom: 3%;
        font-size: 2em;
    }
}
