<div class="full-container">
    <div class="site-name">
        <p>{{sitename}}</p>
    </div>
    <div class="mid-container">
        <div class="left side">
        </div>
        <div class="right side">
            <div class="input-icon connexionfield">
                <mat-icon>face</mat-icon>
                <input type="text" name="login" placeholder="Nom d'utilisateur ou Mail" autocomplete="off">
            </div>
            <div class="input-icon connexionfield">	
                <mat-icon>lock</mat-icon>
                <input type="password" name="login" placeholder="Mot de passe" autocomplete="off">
            </div>
            
            <button mat-stroked-button routerLink="/connexion">
                <mat-icon>power_settings_new</mat-icon>
                Connexion
            </button>
        <div>
    </div>
</div>