<div class="scrollable-div" cdkScrollable>  
    <div class="header" [ngClass]="{'opaque': isOnTop}" >
        <div class="header-container-desktop">
            <div class="header-left">
               
                <a href="#" class="header-link">Accueil</a>
                <a href="#" class="header-link">Règles du jeu</a>
                <a href="#" class="header-link">Classements</a>
            </div>
            <div class="header-right">
                <a href="#" class="header-link">Actualités</a>
                <button mat-stroked-button >
                    <mat-icon>power_settings_new</mat-icon>
                    Connexion
                </button>
            </div>
        </div>
        <div class="header-container-mobile">
            <div class="logo-icon">
                <img class="icon" src="assets/images/icons/logo.svg"/>
            </div>
            <div class="button-wrapper">
                <button mat-stroked-button >
                    <mat-icon>play_arrow</mat-icon>
                    Jouer une partie
                </button>
            </div>
        </div>
    </div>
</div>
<app-tokens-carousel>
</app-tokens-carousel>
<app-footer></app-footer>
