
<div class="container">
	<div class="header"></div>
	<div class="homepage">
		<div class="background-img">
			<div class="centered-container">

				<div class="character-icon">
					<img class="character"
					src="../../assets/images/character.svg"
					alt="personnage"
					height="100%" />
					<img class="plateforme"
						src="../../assets/images/plateform-dark.svg"
						alt="personnage"
						height="40%"
						/>
				</div>
			</div>
			<div class="button-wrapper">
				<button type="button">
					JOUER
				</button>
			</div>
		</div>
	</div>
</div>
