
.container{
	height: 100vh;
    display: flex;
	
	.homepage {
		width: 100%;
		height: 100%;
		position: relative;
		display: flex;
		overflow: hidden;

		.background-img{
			background: url('../../assets/images/wallpaper.jpg');
			background-repeat: no-repeat;
			background-position: 50% 50%;
			background-size: cover;
			display: flex;
			overflow: hidden;
			width:100%;
			height:100%;
		}
	}
}



/* Header style */

.header
{
	height:100px;
    width: 100%;
    color:white;
    position: fixed;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;

	.header-container
	{
		width: 1110px;
		max-width: 90%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin:30px 50px 30px 50px;

		.header-left
		{
			width: 60%;
			display:flex;
			align-items: center;

			/* Icons style */
			.icon 
			{
				width:40px;
				height:40px;
			}
		}
		
		.header-right
		{
			display: flex;
			align-items: center;
			justify-content: flex-end;
			width: 40%;
		}

		.header-link
		{
			margin-left: 8%;
			font-size: 17px;
			font-weight: 300;
			opacity: .8;
			color: inherit;
			outline: none;
			text-decoration: none;
		}
	}	
}






@keyframes bounce{
	from { transform: translateY(0)   }
	50%  { transform: translateY(-5px)}
	to   { transform : translateY(0)  }
}

.button-wrapper{
	position: absolute;
	bottom: 35px;
	left: 50%;
	transform: translateX(-50%);

	button{
		background-color: var(--main-button-color);
		color: var(--text-color);
		border: 0;
		border-radius: 15px;
		height: 50px;
		width: 100px;
	}
}


/* Rules part */


.rules
{
    width: 100%;
    color:white;
	display: flex;
	
	.centered-container{
		width: 1100px;
		height: 100vh;	
		max-width: 1100px;
		display: flex;
		flex-direction: row;
		margin:auto;
		flex-wrap: wrap	;
		

		.character-icon{
			position: relative;
			bottom: 10%;
			height: 40vh;
			margin: auto;
			display: flex;
			flex-direction: column;
			
			transition: opacity .5s ease-out;
			animation-duration: 2s;
			animation-iteration-count: infinite;
			animation-timing-function: ease-in-out;
			animation-name: bounce;

			.plateforme{
				position: relative;
				bottom: 12%;
				z-index: 10;
			}
			
			.character {
				z-index: 11;
			}	
		}

		.midcontainer
		{
			align-items: center;
			display: flex;
			flex-direction: column;
			height: 100%;
			justify-content: center;

			.box
			{
				color: #7b7992;
				background-color: white;
				height:300px;
				width:80%;
				padding:20px;	
				margin-bottom: 90px;
				border-radius: 25px;
				box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
				cursor: pointer;
				opacity: 0.8;
			}
		}
	}
}





