
<div class="container">
	<div class="homepage background-img">
		<div class="header">
			<div class="header-container">
				<div class="header-left">
					<img class="icon" src="assets/images/icons/logo.svg"/>
					<a href="#" class="header-link">Règles du jeu</a>
					<a href="#" class="header-link">Règles du jeu</a>
					<a href="#" class="header-link">Règles du jeu</a>
				</div>
				<div class="header-right">
					<a href="#" class="header-link">Règles du jeu</a>
					<a href="#" class="header-link">Règles du jeu</a>
				</div>
			</div>
		</div>
	</div>
</div>
