
<div class="group-container">
  <div class="left-container">
    <div class="sort-selector">
      <div class="global" (click)="showGlobal()"> Classement global </div>
      <div class="friends" (click)="showFriends()"> Classement amis </div>
    </div>
    <div class="user header-user">
      <div class="rank">
        Rang
      </div>
      <div class="username">
        Joueur
      </div>
      <div class="user-icon">
        Icône
      </div>
    </div>
    <div *ngFor="let user of selected_sort; let index = index" class="user" (click)="showUser(index)">
      <div class="rank">
        {{ user.rank }}
      </div>
      <div class="username">
        {{ user.username }}
      </div>
      <div class="user-icon">
        <img src="../../assets/images/{{ user.icon }}" alt="">
      </div>
    </div>
  </div>
  <div class="right-container">
    <div class="user-block">
      <div class="username"> {{ username }} </div>
      <div class="game-played"></div>
      <div class="winrate"></div>
      <div class="history"></div>
    </div>

  </div>
</div>


