/* You can add global styles to this file, and also import other style files */

@font-face {
	font-family: "ArticleFont";
	src: url("assets/fonts/font.woff2") format("woff2"),
}

:root{
	--main-bg-color: #111C30;
	--connexion-bg-color: #794A34;
	--main-button-color : #ffb027;
	--secondary-color : brown;
	--text-color : white;

	
}

html {
	font-size: 200%;
}


@media (max-width: 1024px) {
	html {
		font-size : 150%;
	}
}

@media (max-width: 540px) {
	html {
		font-size : 100%;
	}
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.input-icon { 
	position: relative;
    display: flex;
    align-items: center;
    height: 41px;
    width: 100%;
    overflow: hidden;
    margin-top: 4px;
    border-radius: 12px;
    background-color: #0e0e14;

	input {
		background: none;
		display: inline-block;
		height: 100%;
		width: 100%;
		font-size: 13px;
		padding: 16px;
		color: #fff;
		border-color: transparent; 
	}

	mat-icon
	{
		color:white;
		margin-left: 5px;
	}
}
