
<div class="roles-container">
	<h1 class="roles-title" [class.titleVisible]="titleVisible"
		observeVisibility
		[debounceTime]="100"
        (visible)="onTitleVisible()"
	>Liste des rôles</h1>

	<div class="role-description">
		<h1
		[class.roleName-visible]="roleVisible"
		observeVisibility
		[debounceTime]="100"
        (visible)="onRoleVisible()"
		>{{ role_name }}</h1>
		<p
		[class.roleDesc-visible]="roleVisible"
		observeVisibility
		[debounceTime]="100"
        (visible)="onRoleVisible()"
		> {{ role_desc }}</p>
	</div>
	<div class="tokens-carousel">
		<div  [style]="getTransform(index)" *ngFor="let token of tokens ; let index = index;"  class="token" [class.no-transition]="!transition_active">
			<div class="flip-3D">
				<img 
					[class.token-visible]="imageVisible"
					observeVisibility
					[debounceTime]="100"
					(visible)="onImageVisible()"
				[style]="getScale(index)"  (click)="selectToken(index)" src="assets/images/tokens/{{ token.link }}" alt="token"/>
			</div>
		</div>
		<img (click)="slideToRight()" src="assets/images/right-arrow.svg" alt="arrow-right" class="arrow-carousel right-arrow"/>
		<img (click)="slideToLeft()" src="assets/images/right-arrow.svg" alt="arrow-left" class="arrow-carousel left-arrow"/>
	</div>
</div>
